.login-form-header-container {
  height: 50px;
  width: 100%;
  bottom: 0;
}

.login-form-header-container > .header-container {
  height: 50px;
  width: 80px;
  padding: 5px;
  white-space: nowrap;
  cursor: pointer;
  position: relative;
}

.login-form-header-container > .header-container > span {
  height: 28px;
  line-height: 28px;
  width: 50px;
  font-size: 20px;
  text-align: center;
  transition: all .4s cubic-bezier(.25,.8,.25,1);
  position: absolute;
  top: 11px
}

.login-form-header-container > .header-container > .left.selected {
  color: #666;
  left: 15px;
  opacity: 1;
}

.login-form-header-container > .header-container > .right {
  color: #999;
  right: -50px;
  opacity: 0;
}

.login-form-header-container > .header-container:hover > .left.selected {
  transform: translate(-80%, 0) scale(0.9);
  opacity: 0.2;
}

.login-form-header-container > .header-container:hover > .right {
  transform: translate(-110%, 0) scale(1.1);
  opacity: 1;
}

.login-form-header-container > .header-container > .left {
  color: #999;
  left: -50px;
  opacity: 0;
}

.login-form-header-container > .header-container > .right.selected {
  color: #666;
  right: 15px;
  opacity: 1;
}

.login-form-header-container > .header-container:hover > .left {
  transform: translate(110%, 0) scale(1.1);
  opacity: 1;
}

.login-form-header-container > .header-container:hover > .right.selected  {
  transform: translate(80%, 0) scale(0.9);
  opacity: 0.2;
}
